<launch>
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
  </node>
  <node pkg="wheeled_control" type="wheel" name="wheel" output="screen">
  </node>
  <!-- <node pkg="wheeled_control" type="joystick_control" name="joystick_control" output="screen">
  </node> -->
  <node pkg="wheeled_control" type="display" name="display" output="screen">
  </node>
</launch>
