<launch>
    <param name="use_sim_time" value="true" />
    
    <arg name="world" default="$(find corgi_sim)/worlds/corgi_old_proto.wbt"/>  <!--corgi_force_plate_proto corgi_old_proto-->
    <arg name="mode" default="realtime"/>  <!--realtime pause fast-->

    <node name="webots_launcher" pkg="corgi_sim" type="webots_launcher.py" args="--world=$(arg world) --mode=$(arg mode)" required="true"/>
    <node name="corgi_data_recorder" pkg="corgi_data_recorder" type="corgi_data_recorder"/>
    <node name="corgi_sim_trq" pkg="corgi_sim" type="corgi_sim_trq" respawn="true" output="screen"/>
    <node name="force_estimation" pkg="corgi_force_estimation" type="force_estimation"/>
</launch>