<launch>
    <param name="use_sim_time" value="true" />
    
    <arg name="world" default="$(find corgi_sim)/worlds/corgi_uneven.wbt"/>
    <arg name="mode" default="realtime"/>  <!--realtime pause fast-->

    <node name="webots_launcher" pkg="corgi_sim" type="webots_launcher.py" args="--world=$(arg world) --mode=$(arg mode)" required="true"/>
    <node name="corgi_data_recorder" pkg="corgi_data_recorder" type="corgi_data_recorder"/>
    <node name="corgi_sim" pkg="corgi_sim" type="corgi_sim_pos" respawn="true" output="screen"/>
</launch>